<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="productDao" class="pl.com.sages.spring.bootcamp.dao.ProductDaoImpl"/>

    <bean id="productService" class="pl.com.sages.spring.bootcamp.service.ProductService">
        <property name="productDao" ref="productDao"/>
    </bean>

    <bean id="paymentService" class="pl.com.sages.spring.bootcamp.service.PaymentService"/>
    <bean id="cartService" class="pl.com.sages.spring.bootcamp.service.CartService"/>

    <bean class="pl.com.sages.spring.bootcamp.service.ApplicationService">
        <property name="paymentService" ref="paymentService"/>
        <property name="cartService" ref="cartService"/>
        <property name="productService" ref="productService"/>
        <property name="applicationName" value="Kodolamacz bootcamp"/>
    </bean>

</beans>